fieldset {
  min-width: 500px;
  margin-bottom: 20px;
}
label {
  min-width: 150px;
}
select {
  width: 300px;
  float: right;
}
div.break {
  margin-bottom: 20px;
}
button.settings {
  float: right;
}
