#canvas_self {
  display: none;
}
#video_self {
  display: none;
}

#chat {
  height: 300px;
  border: 1px black solid;
  overflow-y: auto;
}
#chat-box {
  display: flex;
  flex-direction: row;
}
#chat-box > input {
  flex-grow: 1;
  border-style: solid;
}
#chat-box > button {
  height: 100%;
  margin: 0;
  padding: 0 10px;
  border-style: solid;
}

.user_image, .user_video {
  max-width: 240px;
  max-height: 180px;
  margin: 0 auto;
  display: block;
}
img.placeholder {
  height: 180px;
}
.self > .user_image, .self > .user_video {
  transform: scaleX(-1);
}

.user_tile {
  width: 240px;
  cursor: pointer;
  display: inline-block;
  border: 1px black solid;
  margin: 0 10px 10px 0;
}
.user_tile.self {
  border: 1px blue solid;
}

button {
  min-height: 30px;
  margin: 0 10px 10px 0;
}
